.my-header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: lightgrey;
  height: 5vh;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.my-footer {
	position: absolute;
	bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: lightgrey;
  height: 5vh;
  border-top: 2px solid grey;
  overflow: hidden;
}

.app-wrapper {
  margin: 5vh 0vh 5vh 0vh;
  display: flex;
  align-content: center;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.footer-text {
  font-family: 'Orbitron', sans-serif;
}

.kit-container {
  height: 40vh;
  width: 75%;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.drum-pad {
  height: 5vh;
  width: 5vh;
  border: 2px solid black;
}

