.no-overflow {
  overflow: hidden;
}

.lato {
  font-family: 'Lato';
}

.head-height {
  height: 10vh;
}

.foot-height {
  height: 6vh;
}

.body-height {
  height: 84vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.my-footer {
	position: absolute;
	bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 2px solid lightgray;
}

.footer-text {
  font-family: 'Orbitron', sans-serif;
}

.open {
  display: flex;
  align-items: center;
}

.intro {
  font-family: 'Lato';
  font-size: 6rem;
  color: mediumaquamarine;
}

.tile-box {
  margin: 5vh 0vh 5vh 0vh;
  height: 40vh;
  width: 40vw;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.menu-box {
  position: absolute;
  left: 0px;
  right: 0px;
}

.menu-contain {
  display: flex;
  align-content: center;
}

.kit-container {
  height:70vh;
  width:70vw;
  margin:5em auto;
  padding:2em 0 0 2em;
  position:relative;
  border:1px solid #160801;
  border-radius:1em;
  background: mediumaquamarine;
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}

.key-row {
  margin: auto;
  padding: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.key {
  margin:0 2px;
  padding:0;
  height: 25vh;
  width: 5vw;
  border:1px solid white;
  background: #276cda;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	border-radius:.5em;
}

.top {
  margin-top: 3em;
  position: relative;
  float: left;
}

.bottom {
  position: relative;
  bottom: 1vh;
  float: right;
}

.key h1 {
  font-family: 'Lato';
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 1vw;
  bottom: 0;
}

.right-marg {
  margin-right: 3em;
}
